header {
    background-color: #fa6479;
    color: #FFFFFF;
    padding: 20px 20px;
}

h1 {
    font-family: "Raleway", sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 45px;
    margin: 0;
}

nav {
    background-color: #00A6B3;
    color: #FFFFFF;
    padding: 20px 0;
}

#a {
    margin: 0 20px;
    color: #FFFFFF;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    text-decoration: none;
}

#a:hover {
    border-bottom-color: white;
}

main {
    width: 950px;
    margin: 20px auto;
}

h3 {
    font-family: "Raleway", sans-serif;
    color: #0D2C40;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
}

p {
    font-family: "Droid Serif", serif;
    line-height: 26px;
    font-size: 18px;
}

body {
    text-align: center;
    margin: auto;
    padding: auto;
    width: 100%;
}

img {
    margin: 15px 8px;
    height: 176px;
    width: 130px;
}

footer {
    text-transform: uppercase;
    background-color: #0D2C40;
    color: white;
    font-size: 14px;
    letter-spacing: .08em;
    font-weight: 500;
    font-family: "Raleway", sans-serif;
    position: relative;
    bottom: 0;
    padding: 5px;
    width: 100%;
}

board {
    width: auto;
    height: auto;
}

.name {
    color: #fa6479;
    font-weight: 700;
}

h4 {
    color: #fa6479;
    font-weight: 700;
    font-size: 20px;
    margin: auto;
    width: 50%;
    float: left;
}

#start {
    background-color: #ffffff;
    border: solid 2px #fa6479;
    padding: 5px 10px;
}

a {
    text-decoration: none;
    color: #00A6B3;
    text-transform: uppercase;
    font-weight: bolder;
}

#p1score,
#p2score {
    color: #00A6B3;
    font-weight: bolder;
}